{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% if validlink %}
            Введите новый пароль
          {% else %}
            Ошибка
          {% endif %}
        </div>
        <div class="card-body">
          {% if validlink %}
            <form method="post" action="{{ request.get_full_path }}">
              {% include 'includes/form_errors.html' %}
              {% include 'includes/form.html' %}
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Назначить новый пароль
                </button>
              </div>
            </form>
          {% else %}
            <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
